@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

body {
    background-image: url(../src/img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    
}

.form-container{
    text-align: center;
    width: 650px;
}


.logoPrincipal {
    width: 100px;
}

.tituloLogo {
    margin-top: 20px;
    color: white;
    font-size: 40px;
}
.descricaoLogo {
    color: white;
    font-size: 30px;
}

.formulario {
    margin-top: 60px;
}

.descricaoForm {
    margin-bottom: 15px;
    color: white;
    font-size: 20px;
    font-weight:700; 
    
}

.form{
    display: block;
    border: none;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
    padding: 10px;
}

.checkbox{
    margin-top: 10px;
}
.descricaoLabel {
    color: white;
}

.botaoEnviar {
    margin-top: 20px;
    display: block;
    text-align: center;
    width: 100%;
    padding: 10px;   
    background-color: rgb(70, 70, 213) ;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.botaoEnviar:hover {
    background-color: rgba(70, 70, 300) ;
}


